<div>Messeging Channel</div>
<button (click)="userflag=true">Create New User</button>

<div *ngIf="userflag">
  <input id="ipuser" type="text" placeholder="UserName" #username>
  <input id="ippass" type="password" placeholder="Password" #password>
  <button (click)="save(username.value, password.value)">Save User</button>
</div>

<div>
  <h3 style="color: red;">{{warn}}</h3>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    User
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" (click)="selected(item)" *ngFor="let item of Users">{{item.userName}}</button>
    </li>
    <li><button (click)="reset()">Clear User</button></li>
  </ul>
</div>

<!-- *ngIf="selectedUser" -->
<div>
  Selected user: {{selectedUserName}}
  <br/>
  Enter Messege:
  <br/>
  <textarea name="" id="ipmess" style="height: 30px; width: 200px;" cols="30" rows="10" #ipmess></textarea>
  <br/>
  <button (click)="send(selectedUser, ipmess.value)">Send Messege</button>
</div>

<div *ngFor="let item of Messeges">
  {{item.sender.userName}} : {{item.time.getDay()}} <br/>
  {{item.messege}}
  <hr/>
</div>